{% extends "base.html" %}
{% load static %}
{% block title %}
  Корзина
{% endblock %}
{% block content %}
{% load custom_tags %}
{% load thumbnail %}
  <h1>Ваша корзина</h1>
  <table class="table table-hover">
    <thead class="table-success"> 
    <tr>
        <th>Фото</th>
        <th>Товар</th>
        <th>Количество тво</th>
        <th>Удалить</th>
        <th>Ед. цена</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% thumbnail product.id|get_product_image_thumb 150x150 crop %}" class="rounded">
              </a>
            </td>
            <td>{{ product.get_name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.sku %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update" class="btn btn-secondary btn-sm">
                {% csrf_token %}
              </form>
            </td>
            <td>
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                    <input type="submit" value="Remove" class="btn btn-secondary btn-sm">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">₽ {{ item.price|delimiter }}</td>
            <td class="num">₽ {{ item.total_price|delimiter }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="table-success">
        <td>Итого</td>
        <td colspan="4"></td>
        <td class="num">₽ {{ cart.get_total_price|delimiter }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex flex-row-reverse">
    {% if cart %}
      <a href="{% url "orders:order_create" %}" class="btn btn-success">Оформить</a>
    {% endif %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-light mx-3">Продолжить покупки</a>
  </div>

  <div class="mt-4">
  {% if recommended_products %}
    <h3>С этим товаром часто покупают:</h3>
    <div class="row row-cols-1 row-cols-md-6 g-6 mt-3">
      {% for p in recommended_products %}
        <div class="col">

            <div class="card h-100 px-0 py-0" data-id="{{ p.id }}">
                <a href="{{ p.id|get_product_item_url }}" class="text-decoration-none">
                    <img src="{{ p.id|get_image_by_product_item_id }}" class="card-img-top" alt="...">
                </a>
                
                <div class="card-body text">
                    <small>{{ p.get_name }}</small>
                </div>
            </div>

        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>

{% endblock %}
