{% load custom_tags %}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    
    <div class="container container-fluid">
        <a class="navbar-brand" href="{% url 'inventory:categories' %}">Shop Brand</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inventory:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            
            <form class="d-flex mx-5" role="search" method="get" action="{% url "inventory:product_search" %}">
                <input class="form-control me-2" name="query" type="search" placeholder="Искать товары" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>

            <div class="mx-4">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    В корзине:
                    <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} товар{{ total_items|pluralize }},
                    ₽ {{ cart.get_total_price|delimiter }}
                    </a>
                {% elif not order %}
                    Корзина пуста
                {% endif %}
            {% endwith %}
            </div>

            <div class="d-flex flex-column align-items-center">
                {% if user.is_authenticated %}
                <div class="">
                    <small>Welcome, <a href="#" class="font-link"><strong>@{{ user.username }}</strong></a></small>
                </div>
                <div class="justify-content-center">
                    <a href="{% url "logout" %}" class="badge bg-secondary text-light">Logout</a>
                </div>
                {% else %}
                <a href="{% url "login" %}"><button class="btn btn-outline-secondary">Login</button></a>
                {% endif %}
            </div>

        </div>
    </div>
    
</nav>
