{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load custom_tags %}
{% load thumbnail %}

<div class="row">

    <div class="aside col-3 border">
        <img src="{% thumbnail product.0.media__img_url|default:'no_image.png' 150x150 crop %}" class="rounded">
    </div>
    
    <div class="col-6">
        <!-- Root navigation -->
        <div class="tree mb-2">
            {% for ancestor in category.get_ancestors %}
                <a  href="{% url 'inventory:category' category_slug=ancestor.slug %}"
                    class="badge bg-light text-secondary border text-decoration-none"
                >{{ ancestor.name }}</a><span class="text-secondary"> / </span>
            {% endfor %}
            <a href="{% url 'inventory:product_by_category' category_slug=category.slug %}" 
                class="badge bg-light text-secondary border text-decoration-none"
            >{{ category.name }}</a>
        </div>

        <h1 class="">{{ product.0.product__name }}</h1>

        <div class="mb-3">
            <p class='fs-6 fw-medium mb-2'>Модификации товара:</p>
            {% for p in sku_values %}
                {% if p.product__sku in filter_args %}
                    <li id="target-{{ p.product__sku }}"
                        class="btn btn-outline-warning text-dark"
                        data-attribute="sku"
                        value="{{ p.product__sku }}"
                    >
                        {{ p.product__sku }}
                    </li>
                {% else %}
                    <li id="target-{{ p.product__sku }}" 
                        class="btn btn-light"
                        data-attribute="sku"
                        value="{{ p.product__sku }}"
                    >
                        {{ p.product__sku }}
                    </li>
                {% endif %}
            {% endfor %}
        </div>

        {% if product.0.product__description %}
        <h3>Описание</h3>
        <p>{{ product.0.product__description }}</p>
        {% endif %}
        <h3>Характеристики</h3>
        <table class="table">
            <tbody>
                {% for a in attrs %}
                <tr> 
                    <td>{{ a.attribute_value__product_attribute__name|capfirst }}</td>
                    <td>{{ a.attribute_value__value }}</td>              
                </tr>
                {% endfor %}
            </tbody>
        </table>

      <div class="mt-4">
      {% if recommended_products %}
        <h3>С этим товаром часто покупают:</h3>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          {% for p in recommended_products %}
            <div class="col">

                <div class="card h-100 px-0 py-0" data-id="{{ p.id }}">
                    <a href="{{ p.id|get_product_item_url }}" class="text-decoration-none">
                        <img src="{{ p.id|get_image_by_product_item_id }}" class="card-img-top" alt="...">
                    </a>
                    
                    <div class="card-body text">
                        <small>{{ p.get_name }}</small>
                    </div>
                </div>

            </div>
          {% endfor %}
        </div>
      {% endif %}
      </div>
    </div>

    <div class="col-3 border">
        <h1 class="text-secondary">{{ product.0.price|delimiter }} <small class="fs-4">₽</small></h1>
        <form action="{% url 'cart:cart_add' product.0.sku %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="В корзину">
        </form>
    </div>
</div>

<script>
    let textBoxes = document.querySelectorAll('[id^=target]');

    textBoxes.forEach(el => el.addEventListener('click', function(e){
        let value = e.target.getAttribute("value");

        let url = window.location.href.split('?')[0];
        window.location.href = url + '?' + 'sku=' + value;
    }, false)
    );

</script>

{% endblock content %}
