{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load custom_tags %}
{% load thumbnail %}

    <div class="row">
        
        <div class="aside col-3 border rounded-4">
            <h3> </h3>
            <ul class="px-3">
                <li class="fw-bolder">
                    Цена, руб.
                </li>
                    <div class="input-group">
                        <input
                            class="price-attrs form-control rounded"
                            name="price-min"
                            {% if price_dict|from_dict:'price'|from_list:0 %}
                                value="{{ price_dict|from_dict:'price'|from_list:0 }}"
                            {% else %}
                                value=""
                            {% endif %}
                            placeholder="от"
                        >
                        <input
                            class="price-attrs form-control mx-1 rounded"
                            name="price-max"
                            {% if price_dict|from_dict:'price'|from_list:1 %}
                                value="{{ price_dict|from_dict:'price'|from_list:1 }}"
                            {% else %}
                                value=""
                            {% endif %}
                            placeholder="до"
                        >
                    </div>
                    <br>

                <li class="fw-bolder">
                    Производитель
                </li>
                    {% for brand in brands %}
                        {% with 'brand'|addstr:brand.brand as value %}
                        <input 
                            class="brand-attrs"
                            type="checkbox"
                            name="{{ value }}"
                            value="{{ value }}"
                            {% if brand.brand in brand_dict.brand %}
                                checked
                            {% else %}
                            {% endif %}
                        >
                        <label for="{{ value }}">{{ brand.brand }}</label><br>
                        {% endwith %}
                    {% endfor %}
                    <br>

                {% for attr in category_attrs %}
                <li class="fw-bolder">
                   {{ attr.name|capfirst }}
                </li>
                    {% if attr.filter_type == 'range' %}
                        <div class="input-group">
                            {% with attr.name as name %}
                            <input
                                class="range-attrs form-control rounded"
                                name="{{ name }}-min"
                                {% if range_filter_dict|from_dict:name|from_list:0 %}
                                    value="{{ range_filter_dict|from_dict:name|from_list:0 }}"
                                {% else %}
                                    value=""
                                {% endif %}
                                placeholder="от"
                            >
                            <input
                                class="range-attrs form-control mx-1 rounded"
                                name="{{ name }}-max"
                                {% if range_filter_dict|from_dict:name|from_list:1 %}
                                    value="{{ range_filter_dict|from_dict:name|from_list:1 }}"
                                {% else %}
                                    value=""
                                {% endif %}
                                placeholder="до"
                            >
                            {% endwith %}
                        </div>
                        <br>

                    {% else %}

                    {% for val in attr_values %}
                    {% if val.product_attribute__name == attr.name %}
                        {% with attr.name|addstr:val.value as value %}
                        
                        <input 
                            class="checkbox-attrs"
                            type="checkbox"
                            name="{{ value }}"
                            value="{{ value }}"
                            {% if value in checkbox_arguments %}
                            checked
                            {% else %}
                            {% endif %}
                        >
                        <label for="{{ value }}">{{ val.value }}</label><br>
                        {% endwith %}
                    {% endif %}
                    {% endfor %}
                    <br>

                    {% endif %}

                {% endfor %}
            </ul>

            <form id="attrs" method="post">
                {% csrf_token %}
            </form>

            <div class="submit btn btn-primary">Filter</div>

            <a class="btn btn-secondary"
               href="{% url 'inventory:product_by_category' category_slug=category.slug %}"
            >Reset Filters</a>

        </div>

        <div class="col-9">
            <div class="tree mb-2">
                {% for ancestor in category.get_ancestors %}
                    <a  href="{{ ancestor.get_absolute_url }}"
                        class="badge bg-light text-secondary border text-decoration-none"
                    >{{ ancestor.name }}</a><span class="text-secondary"> / </span>
                {% endfor %}
                <a href="#" 
                    class="badge bg-light text-secondary border text-decoration-none"
                >{{ category.name }}</a>
            </div>

            <h1 class="my-3">{{ category.name }}</h1>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for product in products %}
                <div class="col">

                    <div class="card h-100 px-0 py-0" data-id="{{ p.id }}">
                        <a href="{% url "inventory:product_detail" product.slug %}" class="text-decoration-none">
                            <img src="{{ product.product__media__img_url|url }}" class="card-img-top" alt="product img">
                        </a>
                        
                        <div class="card-body">
                            <h6>{{ product.name }}</h6>
                            <h5>₽ {{ product.product__price|delimiter }}</h5>
                        </div>
                        <div class="card-footer px-0 py-0">
        
                            <form action="{% url 'cart:cart_add' product.product__sku %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="submit" value="В корзину" class="btn btn-warning btn-my-xl fw-medium align-bottom"  data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            </form>
                            
                        </div> 
                    </div>
                    
                </div>
                {% endfor %}
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="form2">
                        {{ cart_product_form }}
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
        </div>
        

    </div>



    <script>
        let submit = document.querySelector('.submit')
        let form = document.getElementById("attrs")
        let checkboxes = document.querySelectorAll('.checkbox-attrs')
        let range_items = document.querySelectorAll('.range-attrs')
        let price_items = document.querySelectorAll('.price-attrs')
        let brand_items = document.querySelectorAll('.brand-attrs')

        {% comment %} let trigger = document.querySelectorAll('input')
        let form2 = document.querySelector('#form2')

        trigger.forEach((el) => { el.addEventListener('click', function(){
                let id = this.parentNode.parentNode.getAttribute('data-id');
                let args1 = document.createElement("input");

                console.log(form2.children[3])
                //form2.appendChild(args1);
                form2.children[3].value = 'Product'

            })
        }); {% endcomment %}

        submit.addEventListener('click', function(e){
            let args1 = document.createElement("input");
            let args2 = document.createElement("input");
            let args3 = document.createElement("input");
            let args4 = document.createElement("input");

            let checkbox_attrs = [];
            let range_attrs = [];
            let price_attrs = [];
            let brand_attrs = [];

            checkboxes.forEach(function(box){
                if (box.checked == true) {
                    checkbox_attrs.push(box.value);
                };
            });

            brand_items.forEach(function(box){
                if (box.checked == true) {
                    brand_attrs.push(box.value);
                };
            });
            
            range_items.forEach(function(item){
                if (item.value != '') {
                    range_attrs.push(item.name + ':' + item.value);
                } 
            });
            
            price_items.forEach(function(item){
                if (item.value != '') {
                    price_attrs.push(item.name + ':' + item.value);
                } 
            });
            
            args1.setAttribute("type", "hidden");
            args1.setAttribute("name", "checkbox_attrs");
            args1.setAttribute("value", checkbox_attrs.join('&'));

            args2.setAttribute("type", "hidden");
            args2.setAttribute("name", "range_attrs");
            args2.setAttribute("value", range_attrs.join('&'));

            args3.setAttribute("type", "hidden");
            args3.setAttribute("name", "price_attrs");
            args3.setAttribute("value", price_attrs.join('&'));

            args4.setAttribute("type", "hidden");
            args4.setAttribute("name", "brand_attrs");
            args4.setAttribute("value", brand_attrs.join('&'));

            form.appendChild(args1);
            form.appendChild(args2);
            form.appendChild(args3);
            form.appendChild(args4);

            //console.log(form);
            $('body').append(form);
            form.submit();
        });

        {% comment %} submit.addEventListener('click', function(e){
            let currentpath = document.URL;
            let formData = new FormData($('form')[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                    url: currentpath,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                });
            console.log(submit);
        }); {% endcomment %}
        
    </script>

{% endblock %}